{%extends "base.html" %}

{% block content%}
<div class="container">
    <div class="content-section vh-100 d-flex align-items-center justify-content-center">
        <div class="row justify-content-around">
            <h5 class="text-center my-3">Profile Avatar</h5>
            <div class="col-sm-4">
                <img src="{{ user.profile.userpic.url }}" alt="Image not available" height="300" width="300" style="border-radius: 50%;">
            </div>

            <div class="col-sm-7">
                <p class="section-heading">{{ user.username }}</p>
                <p> {{ user.profile.bio }}</p>
                <p class="section-heading">Contact No</p> <p> {{ user.profile.phonenumber }}</p>
                <p class="section-heading">Email</p><p> {{ user.email }}</p>

            </div>
        </div>
        <div class="">
            <div class="">
                <a class="btn btn-info" type="submit" href="{%url 'update' object.id %}">Update</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}